.footer {
  padding: 20px;
  background-color: #fcfcfc;
  text-align: center;
  font-size: 14px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
