.header {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 12px 20px;
  box-sizing: border-box;
}

.header-leftside {
  width: 300px;
}

.header-rightside {
  width: calc(100% - 300px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

.header-rightside > button {
  background-color: #47bb92;
  color: #ffffff;
  font-weight: 500;
  border: none;
  width: fit-content;
  padding: 10px 27px;
}
