<div class="login">
  <form (ngSubmit)="onSubmit()" class="auth-form">
    <img
      src="../../../assets/HealthPortal.png"
      class="logo"
      alt="HealthPortal"
    />
    <h2>Форма авторизації лікарів</h2>
    <div class="form-group">
      <input
        type="text"
        formControlName="email"
        placeholder="Електронна адреса"
      />
      <input type="password" formControlName="password" placeholder="Пароль" />

      <a href="/reset-password">Забули пароль?</a>
    </div>

    <div class="button">
      <button type="submit">Увійти</button>
    </div>

    <div class="link">
      <a href="/doctor/signup"
        >Якщо ви хочете створити акаунт, натисність сюди</a
      >
    </div>
  </form>
  <div class="auth-block-image">
    <div class="block-image"></div>
  </div>
</div>
