<div class="home-container">
  <h1>Welcome to the Health Assessment Test</h1>
  <p>Take our health assessment test to determine your current health condition.</p>
  <p>This test will help you understand your overall health status and provide recommendations based on your answers.</p>
  <p>Click on the "Start Test" button to begin.</p>
  <button class="start-test-button" routerLink="/test-list">Start Test</button>

  <div class="information-section">
    <h2>About the Health Assessment Test</h2>
    <p>The Health Assessment Test is designed to evaluate your current health condition based on a series of questions related to your lifestyle, habits, and symptoms.</p>
    <p>By answering the questions honestly, you will receive an assessment of your overall health and suggestions for improving your well-being.</p>
  </div>

  <div class="information-section">
    <h2>Why Take the Health Assessment Test?</h2>
    <p>Taking the Health Assessment Test can provide you with valuable insights into your health and help identify potential areas of concern. It serves as a starting point for making informed decisions about your lifestyle and healthcare choices.</p>
    <p>Understanding your health status can empower you to take proactive steps towards a healthier and happier life.</p>
  </div>
</div>

