<div class="reset-password">
  <form (ngSubmit)="resetPassword()" class="auth-form">
    <img
      src="../../../assets/HealthPortal.png"
      class="logo"
      alt="HealthPortal"
    />
    <h2>Оновити пароль</h2>

    <div class="form-group">
      <input type="email" placeholder="Електронна адреса" />
    </div>

    <div class="button">
      <button type="submit">Відправити</button>
    </div>
  </form>
  <div class="auth-block-image">
    <div class="block-image"></div>
  </div>
</div>
